.modal-content {
  border-radius: 10px;

  .modal-header {
    background: $blush-petal-50;
    color: $blush-petal-800;
    padding: 0.8rem 1rem;

    .modal-title {
      font-family: 'DM Sans';
      font-size: 20px;
    }

    .btn-close {
      filter: invert(1);
    }
  }

  .modal-footer {
    border-top: none;
    padding: 0 0.75rem 0.75rem 1rem;
  }

  .validation-summary-model-rules {

    .material-symbols-outlined {
      font-size: 16px;
    }
  }
}