@import "../Variables.scss";

.background{
    background-color: $blush-petal-200;
    stroke: pink;
    stroke-width: 1rem;
}

.product-image{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.edit-icon{
    .neo-icon{
    color: blue;
    font-size: 24px;
    }
}

.delete-icon {
    .neo-icon {
        color: red;
        font-size: 24px;
    }
}

.products-view {
    table {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        width: 100%;

        thead th {
            background-color: $blush-petal-100;
            font-weight: 500;
            padding: 20px;
        }

        tbody td {
            vertical-align: middle;
            padding: 12px;
        }

        tbody tr:hover {
            background-color: rgba(#B46A72, 0.1);
        }
    }
}