// General colors
$grey-light: #E9D2D5;
$grey-medium: #CB979C;
$grey-medium-dark: #85434A;

// App style
$main-color: #4361ee;
$main-text-color: white;
$main-font-size: 14px;
$secondary-font-size: 12px;
$main-background: #f1f4f8;
$text-color: #212529;
$component-header-background: #ffffff;
$component-header-text-color: #212529;
$nested-component-border-color: $grey-light;
$box-shadow-color: #212529;
$box-shadow-root: 0px 2px 4px 0px rgba($box-shadow-color, 0.05);
$box-shadow-inner: 0px 4px 8px 0px rgba($box-shadow-color, 0.08);
$component-border-radius: 4px;

// App layout
$menu-width: 260px;
$menu-width-thin: 92px;
$footer-height: 50px;
$menu-animation-speed: 0.3s;
$content-area-margin: 20px;

// Sweet Muse Colors
// Blush Petal
$blush-petal-50:#FFFCFD;
$blush-petal-100:#FEF7F8;
$blush-petal-200:#FDEFF2;
$blush-petal-300:#FBE6EB;
$blush-petal-400:#F9D8E0;
$blush-petal-500:#F7C8D3;
$blush-petal-600:#EE8DA4;
$blush-petal-700:#E65375;
$blush-petal-800:#D71F4A;
$blush-petal-900:#9C1736;

//Rosewood
$rosewood-50: #FBF8F8;
$rosewood-100: #F4E9EA;
$rosewood-200: #E9D2D5;
$rosewood-300: #DDBCBF;
$rosewood-400: #CB979C;
$rosewood-500: #B46A71;
$rosewood-600: #A25159;
$rosewood-700: #85434A;
$rosewood-800: #69353A;
$rosewood-900: #4C262A;

// Sage Leaf
$sage-leaf-50: #FBFBF9;
$sage-leaf-100: #F2F4ED;
$sage-leaf-200: #E5E9DC;
$sage-leaf-300: #D8DECA;
$sage-leaf-400: #C2CBAD;
$sage-leaf-500: #A8B58A;
$sage-leaf-600: #92A26D;
$sage-leaf-700: #7A8957;
$sage-leaf-800: #606B44;
$sage-leaf-900: #464E31;


// Misty Sky
$misty-sky-50: #FBFBFC;
$misty-sky-100: #F2F4F6;
$misty-sky-200: #E6EAEE;
$misty-sky-300: #D9DFE5;
$misty-sky-400: #C4CED7;
$misty-sky-500: #ABB9C6;
$misty-sky-600: #8A9DB0;
$misty-sky-700: #698299;
$misty-sky-800: #526679;
$misty-sky-900: #3C4A58;

// Midnight Lagoon
$midnight-lagoon-50: #F3F5F7;
$midnight-lagoon-100: #DBE1E8;
$midnight-lagoon-200: #B7C4D1;
$midnight-lagoon-300: #92A6BA;
$midnight-lagoon-400: #5B758F;
$midnight-lagoon-500: #2D3A47;
$midnight-lagoon-600: #26313C;
$midnight-lagoon-700: #202932;
$midnight-lagoon-800: #192027;
$midnight-lagoon-900: #12171C;

// Coffee Brown
$coffee-brown-50: #F9F4F2;
$coffee-brown-100: #EDDFD8;
$coffee-brown-200: #DCBFB1;
$coffee-brown-300: #CA9F8A;
$coffee-brown-400: #A96B4C;
$coffee-brown-500: #5B3A29;
$coffee-brown-600: #4D3123;
$coffee-brown-700: #40281D;
$coffee-brown-800: #322017;
$coffee-brown-900: #241710;

// Border Radius
$full-radius:999px;



